<!doctype html>
<html lang="es-MX">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Underdog&display=swap" rel="stylesheet">
	<script defer src="https://friconix.com/cdn/friconix.js"></script>
    <title>Agenda tus exámenes</title>
</head>
<body class="vh-100 text-center align-items-center justify-content-center">
    <nav class="navbar navbar-expand-lg sticky-top bg-light">
		<span class="brand-name">Sitema de Control de Exámenes</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="font-color-general"><i class="fi-xwsrxl-ellipsis"></i></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link font-color-general mr-lg-3 ml-3" href="http://127.0.0.1:5000/auth/registro">Registrarse</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link font-color-general mr-3 ml-3" href="http://127.0.0.1:5000/auth/login">Ingresar</a>
				</li>
			</ul>
		</div>
	</nav>
    <section class="container-fluid">
		<div class="">
			<div>
				<h3 class="font-color-general">Agenda tus exámenes</h3>
                <div class="m-0 row justify-content-center align-items-center">
                    <div class=" col-auto card m-2" style="width: 18rem;">
                        <img class="card-img-top" src="/static/materias.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Gestiona tus materias y organiza tu rutina.</p>
                        </div>
                    </div>
                    <div class=" col-auto card m-2" style="width: 18rem;">
                        <img class="card-img-top" src="/static/examenes.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Agenda tus exámenes para que no te sorprenda.</p>
                        </div>
                    </div>
                    <div class=" col-auto card m-2" style="width: 18rem;">
                        <img class="card-img-top" src="/static/resultado.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Revisa los resultados de tus exámenes.</p>
                        </div>
                    </div>
                </div>
			</div>
        </div>
    </section>
</body>
</html>